{% extends "base.html" %}

{% block titulo_conteudo %} Listagem de Produtos {% endblock titulo_conteudo %}

{% block conteudo %} 

<div class="barrabotoes mb-3">
    <button onClick="location='{% url 'form_produto' %}'" type="button" class="btn btn-primary btn-sm">
        Inserir Novo
    </button>
    <button onClick="location='{% url 'listaProduto' %}'" type="button" class="btn btn-primary btn-sm">
        Recarregar
    </button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imagem</th> <!-- Coluna para Imagem -->
            <th>Nome</th>
            <th>Preço (R$)</th>
            <th>Categoria</th>
            <th>Qtde</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in listaProduto %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{produto.id}}</td>
            <td style="text-align: center; vertical-align: middle;"><img src="{{ produto.img_base64 }}" width="55px" height="auto"></td>
            <td style="vertical-align: middle;">{{produto.nome}}</td>
            <td style="text-align: center; vertical-align: middle;">{{produto.preco}}</td>
            <td style="text-align: center; vertical-align: middle;">{{produto.categoria}}</td>
            <td style="text-align: center; vertical-align: middle;">{{ produto.estoque.qtde }}</td>
            <td style="vertical-align: middle;">

            <td>
                <button type="button" class="btn btn-info" onclick="location.href='{% url 'detalhe_produto' produto.id%}'">Detalhes</button>
                <button type="button" class="btn btn-success" onclick="location.href='{% url 'ajustar_estoque' produto.id%}'">Estoque</button>
                <a href="{% url 'editar_produto' produto.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'remover_produto' produto.id %}" class="btn btn-danger btn-sm"
                    onclick="return confirm('Tem certeza que deseja remover este registro?');">Remover</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="text-center">Nenhum produto encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}
