{% extends 'base.html' %}

{% block titulo_conteudo %} Gerenciar Clientes {% endblock %}

{% block conteudo %}

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Lista de Clientes</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastrarClienteModal">
            Cadastrar Cliente
        </button>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Data de nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>
                    <a href="{% url 'editar_cliente' id=cliente.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'excluir_cliente' id=cliente.id %}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal para Cadastrar Cliente -->
    <div class="modal fade" id="cadastrarClienteModal" tabindex="-1" aria-labelledby="cadastrarClienteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cadastrarClienteModalLabel">Cadastrar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" id="form-cadastrar-cliente">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary me-2">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
